{% extends "base.html" %}

{% block content %}
    {% if modal_opened %}
        <div class="config">
            <!-- Modal content -->
            <div class="modal-content">
                <form class="settings" method="post" action="{% url 'generated_graph' %}">
                    {% for setting in settings %}
                        <div class="setting">
                            <label for="setting_input">{{ setting.name }}:</label>
                            <input name="{{ setting.key }}" type="text"></input>
                        </div>
                    {% endfor %}
                    {% if modal_error %}
                        <p class="err_msg">Data is not valid!</p>
                    {% endif %}
                    <button class="button_primary center" type="submit">Continue</button>

                </form>
            </div>

        </div>
    {% endif %}
    <div id="view">
        <div class="logo">
            {% load static %}
            <img src="{% static 'graph.png' %}" width="20px" alt="logo"/>
            <span>Graph Visualizer</span>
        </div>
        <div id="select">
            <form id="bar_form" method="post" action="{% url 'open_config' %}">
                <div class="selection-item">
                    <label for="sources">Select source:</label>
                    <select id="sources" name="sources">
                        {% for source in sources %}
                            {% if source_id == source.plugin_id %}
                            <option selected value="{{ source.plugin_id }}">{{ source.plugin.name }}</option>
                            {% else %}
                            <option  value="{{ source.plugin_id }}">{{ source.plugin.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="selection-item">
                    <label for="visualizers">Select visualizer:</label>
                    <select id="visualizers" name="visualizers">
                        {% for visualizer in visualizers %}
                            {% if visualizer_id == visualizer.plugin_id %}
                            <option selected value="{{ visualizer.plugin_id }}">{{ visualizer.plugin.name }}</option>
                            {% else %}
                            <option  value="{{ visualizer.plugin_id }}">{{ visualizer.plugin.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                </div>

                <div class="buttons">
                    <button class="button_primary center" type="submit" name="generate">Generate</button>
                    <button class="button_primary center" name="show" type="submit">Show</button>
                </div>


            </form>


        </div>
        <div id="top_bar">

            <form id="filter" method="post" action="{% url 'search_graph' %}">
                <input id="query" type="text" name="query" placeholder="Enter query"/>
                <a href="{% url 'clear_filters' %}" id="clear_button">Clear</a>
                <button class="button_primary" type="submit">Filter</button>

            </form>

        </div>


        <div id="tree-view">
            {% include 'tree_view.html' %}
        </div>

        <div id="bird-view">
            {% include 'bird_view.html' %}
        </div>

        <style>
            #graph {
                align-items: center;
            }
        </style>
        <div id="graph">
            {% include 'main_view.html' %}
        </div>
    </div>

{% endblock %}