* {
    color: #424242;
    font-family: Consolas, sans-serif;
}

body {
    margin: 0;

}

#view {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 200px 1fr 300px;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 1;
}

#top_bar {
    color: #f2f2f2;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

select {
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    background-color: rgba(212, 212, 212, 0.52);
    border-radius: 10px;
}

#filter {
    width: 60%;
}

#query {
    height: 33px;
    width: 80%;
    border-radius: 150px;
    border-style: solid;
    border-color: #46494B;
    border-width: 1px;
    padding-left: 20px;
    margin-right: -150px;
}

#query:focus {
    outline: none;
}

#select {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
}

.selection-item {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}

.button_primary {
    align-self: center;
    background-color: #46494B;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;

    cursor: pointer;
    border: none;
    border-radius: 40px;
    width: fit-content;
}


#tree-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    border-radius: 30px;
    background-color: rgba(236, 236, 236, 0.74);
}

#graph {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgba(236, 236, 236, 0.74);
    margin: 10px;
    border-radius: 30px;
}
#bird-view{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0 20px 20px 0;
    border-radius: 30px;
    background-color: rgba(108, 108, 108, 0.87);
    z-index: 1;
}
#clear_button{
    align-self: center;
    color: #999999;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    width: fit-content;
    font-size: 12px;
    font-family: Consolas, sans-serif;
}
.settings{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.setting {
    display: flex;
    justify-content: space-between;
}
.err_msg{
    color: #cd0000;
    text-align: center;
}
.config {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}
.workspace-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.workspaces{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
.workspace_button{
     align-self: center;
    background-color: #46494B;
    color: white;
    padding: 5px 20px;
    text-decoration: none;

    cursor: pointer;
    border: none;
    border-radius: 40px;
    width: fit-content;
}
.workspace-title{
    font-size: 14px;
}
